// Text-color
$c1-black: #000000;
$c2-gray: #CBC9C9;
$c3-brown:#D46662;
$c4-green:#1ED90E;
$c5-black:#1E1D1D;
$c6-red:#FC0303;
$c7-white:#FFFCFC;

//Color radio
$color1: #D9D9D9;
$color2: #6200EE;


// background- color

$c1-bg-dark: #000000;
$c2-bg-yellow: #e1b067;
$c3-bg-gray: #dedddc;
$c4-bg-light-gray: #f8f8f8;
$c5-bg-light-yellow:#eda540;
$c6-bg-dark-gray:#CCCCCC;
$c7-bg-gradient:linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$c8-bg-gradient:linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);

//Font-size
$text-x-small: 16px;
$text-small: 18px;
$text-medium: 20px;
$text-big: 24px;
$text-bigger: 30px;
$text-xl: 40px;

// Font-weight
$text-thin: 200;
$text-light: 300;
$text-regular: 400;
$text-semiBold: 500;
$text-bold: 600;
