.container {
  h2 {
    font-size: $text-small;
    font-weight: $text-semiBold;
    color: rgba(0, 0, 0, 0.6);
  }
  .search {
    input {
      width: 443px;
      border: none;
      font-size: $text-x-small;
      background: rgba(33, 33, 33, 0.08);
      height: 54px;
      padding-left: 10px;
      margin-right: 37px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        font-weight: $text-regular;
        font-size: $text-x-small;
        line-height: 36px;
      }
    }
    .searchSubmit {
      width: 100px;
      height: 40px;
      padding: 10px;
      background-color: $color2;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
        0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
      color: $c7-white;
      border: none;
      font-weight: $text-regular;
      font-size: $text-medium;
      line-height: 24px;
      border-radius: 50px;
      @media screen and (max-width: 1200px) {
        transform: translateX(0%);
      }
    }
  }
  .title {
    background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
    color: $c7-white;
    font-size: $text-xl;
    font-weight: $text-regular;
    padding: 12px 29px;
  }
  .dropdown-toggle{
    background: rgba(33, 33, 33, 0.08);
    color:$c5-black ;


  }
  .result {
    .item {
      padding: 30px 30px;
      .cover {
        background-color: $c4-bg-light-gray;
        width: 334px;
        margin: auto;

        .pro-image {
          text-align: center;
          padding: 45px 57px 30px 57px;
          img {
          }
        }
        .pro-txt {
          margin-left: 23px;
          h2 {
            font-weight: $text-light;
            font-size: $text-big;
            line-height: 29.05px;
            padding: 0 23px;
            height: 58px;
          }
          span {
            padding: 0 23px;
            padding-bottom: 8px;
            font-weight: $text-light;
            font-size: $text-medium;
            line-height: 24px;
            color: $c2-gray;
            display: block;
            display: -webkit-box;
            max-width: 100%;
            height: 43px;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .buy-click {
          margin-top: 13px;
          a {
            width: 175px;
            height: 69px;
            background-color: $c2-bg-yellow;
            text-decoration: none;
            color: $c1-black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: $text-thin;
            font-size: $text-big;
            line-height: 29px;
            transition: all 0.3s;
            &:hover {
              background-color: $c5-bg-light-yellow;
            }
          }
          p {
            width: 160px;
            height: 69px;
            background-color: $c3-bg-gray;
            font-weight: $text-bold;
            font-size: $text-big;
            text-align: center;
            line-height: 64px;
            margin: 0;
          }
        }
      }
    }
  }
}
